*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  }

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 70%;
  margin: auto;
  background-color: white;
}


header{
  height: 120px;
  background-color: #e579e6;
}

footer{
  height: 50px;
  background-color: #8802fe;
}

main{
  height: 600px;
  background-color: #abcfe6;
}

.banner{
  height: 450px;
  background-color: #e1d77a;
}

.top-margin{
  margin-top: 20px;
}

.top-margin-half{
  margin-top: 7.5px;
}